{% extends "@base.html" %}
{% block html %}itemscope itemtype="http://schema.org/Article"{% endblock html %}
{% block header %}
{% include 'blog_entry_header.html' %}
{% endblock %}
{% block content %}
{% autoescape false %}
<div class="row">
  <div class="col-sm-8">
    {{body}}
    {% include 'blog_entry_content_bottom.html' %}
    {% if author_obj != {} %}
      {% include 'blog_entry_author_card.html' %}
    {% endif %}
  </div>
  <div class="col-sm-3 col-sm-offset-1 text-center">
	{% include 'blog_entry_sidebar.html' %}
  </div>
</div>
{% if related_posts != [] %}
<div class="row">
  <div class="col-sm-12 padding-tb-1">
    {% include 'blog_entry_related_posts.html' %}
  </div>
</div>
{% endif %}
{% endautoescape %}
<hr />
{% include 'blog_entry_bottom.html' %}
{% endblock %}
{% block script %}
{% include 'blog_entry_script.html' %}
{% endblock %}
