{% extends "@base.html" %}

{% include 'blog_entry_headers.html' %}

{% block content %}
{% autoescape false %}
<div class="row">
  <div class="col-sm-8">
    {{body}}
    <div class="text-center">
      <a href="/contact" class="btn btn-lg btn-orange">Contact us</a>
    </div>
    {% if author_obj != {} %}
      <div id="author-card" class="author-card">
        <div class="author-card-about">
          <p>About the Author</p>
        </div>
        {% if author_obj.get('image') != None %}
          <div class="author-card-image">
            <img src="{{ author_obj.get('image') }}" style="width: 100%; max-width: 100px;" class="img-circle">
          </div>
        {% endif %}
        <h4 class="author-card-name">
          <a href="{{ url_for('blog_list.index') }}/author/{{ author_obj.get('id') }}" class="">
            {{ author_obj.get('name') }}
          </a>
        </h4>
        <div class="author-card-info">
          <p>{{ author_obj.get('info') }}</p>
        </div>
      </div>
    {% endif %}
  </div>
  <div class="col-sm-3 col-sm-offset-1 text-center">
	{% include 'blog_entry_sidebar.html' %}
  </div>
</div>

<div class="row">
  <div class="col-sm-12 padding-tb-1">
    <h2>You Might Be Interested in Reading These Articles</h2>
  </div>
    {% for blog, d in related_posts %}
      <div class="col-sm-4 blog-list-item">
        {% if d.get('image') %}
        <div class="img-wrapper">
          <img src="{{ d['image'] }}">
        </div>
        {% endif %}
        <h3 class="list-group-item-heading" >
          <a href="{{ url_for('blog_entry.entry', entry=blog) }}" class="t-black">
            {{d['name']}}
          </a>
        </h3>
        {% if d.get('lead_para') %}
        <p>
          {{ d['lead_para'] }}
        </p>
        {% endif %}
        <p>
          <a href="{{ url_for('blog_entry.entry', entry=blog) }}"><b>Continue reading ...</b></a>
        </p>
        <p>
          <span class="glyphicon glyphicon-tag"></span>
          {% for tag in d['tags'] %}
          <a href="{{ url_for('blog_list.index', tag=tag) }}" class="label label-default">
             {{tag}}</a>
          {% endfor %}
          <br />
        </p>
        <p><small>Published on {{d['published_at'].strftime('%B %d, %Y')}}</small></p>
      </div>
    {% endfor %}
</div>

{% endautoescape %}

<hr />

{% include 'blog_entry_bottom.html' %}

{% endblock %}


{% block script %}
{% endblock %}
