{% block html %}itemscope itemtype="http://schema.org/Article"{% endblock html %}
{% block title %}{% if title %}{{title}}{% endif %}{% endblock %}

{% block description %}{% if description %}{{description}}{% endif %}{% endblock %}

{% block keywords %}{{ keywords }}{% endblock %}

{% block header %}
<meta property="og:type" content="article" />

{% if meta_dict.get('twitter_card_image') %}
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image:src" content="{{meta_dict.get('twitter_card_image')}}" />
{% endif %}

{% if meta_dict.get('image') %}
<meta property="og:image" content="{{ meta_dict.get('image') }}" />
{% endif %}

<meta property="og:url" content="{{ url_for('blog_entry.entry', entry=entry, _external=True) }}" />

<base href="{{ url_for('blog_entry.file', entry=entry, path='', _external=True) }}" />

{#
Blog entry has width fixed to 940px;
See http://stackoverflow.com/questions/19241564/bootstrap-3-940px-width-grid
#}
<style type="text/css">
	@media (min-width: 1200px) {
		.container {
			max-width: 970px;
		}
	}

	#navbar-contact {
		transition-property: color, border-color, background-color, font-weight;
		transition-duration: 2400ms;
	}

	li#navbar-contact.highlight {
		background-color: #2D3345;
	}

		li#navbar-contact.highlight a {
			color: white;
		}

	.blog-entry-tags {
		margin-bottom: 20px;
	}
</style>
{% endblock %}